<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Social Media elérhetőségeink:</h4>
                <a href="https://www.facebook.com/" title="facebook" target="_blank" data-bs-toggle="tooltip"
                    data-bs-title="facebook">
                    <img src="../../../assets/img/logo-facebook.png" alt="facebook">
                </a>
                <a href="https://www.instagram.com/" title="twitter" target="_blank">
                    <img src="../../../assets/img/logo-instagram.png" alt="instagram">
                </a>
                <a href="https://www.twitter.com/" title="twitter" target="_blank">
                    <img src="../../../assets/img/logo-twitter.png" alt="twitter">
                </a>
                <p>© Aranyhal Horgászegyesület 2023 minden jog fentartva!</p>
            </div>
        </div>
    </div>
</footer>