footer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    background: #009459;
    color: #fff;
}

h4 {
    margin-top: 20px;
}

img {
    margin: 15px 10px;
    max-width: 35px;
    color: #fff;
    cursor: pointer;
}

p {
    margin-bottom: 20px;
}