<footer id="contact">
    <div class="container">
        <div class="row mb-3">
            <div class="col text-center">
                Social Media elérhetőségeink:
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a href="https://www.facebook.com/" title="facebook" target="_blank" data-bs-toggle="tooltip"
                    data-bs-title="facebook">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
                <a href="https://www.twitter.com/" title="twitter" target="_blank">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a>
            </div>
        </div>
    </div>
</footer>