<h1>{{user.firstName}} {{user.lastName}} fogási naplója</h1>
<p><b>Kedves {{user.lastName}},</b> <br>töltsd fel az előző évi fogásaidat rendszerünkbe!<br>
  A beküldési határidő február 28.(29).
</p>
<a routerLink="add" class="btn btn-sm mb-2" id="admin">Fogások bevitele</a>
<div class="table-responsive-sm">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 10%;">Év</th>
                <th style="width: 10%;">Ponty</th>
                <th style="width: 10%;">Süllő</th>
                <th style="width: 10%;">Harcsa</th>
                <th style="width: 5%;"></th>
                <th style="width: 5%;"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let catch of catches">
                <td class="align-middle">{{catch.ev}}</td>
                <td class="align-middle">{{catch.ponty}}</td>
                <td class="align-middle">{{catch.sullo}}</td>
                <td class="align-middle">{{catch.harcsa}}</td>
                <td style="white-space: nowrap;">
                    <a routerLink="edit/{{catch.id}}" class="btn btn-sm me-1" id="modify">
                        <img src="./assets/img/pencil.png" alt="módosítás" id="mod">
                    </a>
                </td>
                <td style="white-space: nowrap;">
                    <button (click)="deleteCatch(catch.id)" class="btn btn-sm btn-delete-user" id="delete"
                        [disabled]="catch.isDeleting">
                        <img src="./assets/img/trash.png" alt="törlés" id="del">
                    </button>
                </td>
            </tr>
            <tr *ngIf="!catches">
                <td colspan="4" class="text-center">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>