<nav class="navbar navbar-expand-lg" style="background: #009459;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/img/aranyhal.png" alt="Aranyahal Horgászegyesület" style="height: 40px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-item nav-link links" routerLink="/home" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" *ngIf="!user">
            Főoldal
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link links" routerLink="/user/dashboard" routerLinkActive="active" *ngIf="user">
            Admin Főoldal
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link links" routerLink="/catches" routerLinkActive="active" *ngIf="user">
            Fogási Napló
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="right-items">
        <li class="nav-item">
          <a class="nav-item nav-link links" routerLink="/account/login" routerLinkActive="active" *ngIf="!user">
            Bejelentkezés
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link links" routerLink="/user/edit/{{user.id}}" routerLinkActive="active" *ngIf="user">
            {{user.username}}
            <img src="../../../assets/img/person.png" alt="felhasználó" id="person">
          </a>
        </li>
        <li class="nav-item-right">
          <button class="btn btn-link nav-item nav-link" (click)="logout();" *ngIf="user">
            <img src="../../../assets/img/log-out.png" alt="kijelentkezés" id="log">
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>