<div class="p-4">
    <div class="container">
        <h1>Üdvözlünk {{user.firstName}} {{user.lastName}}!</h1>
        <p>Sikeresen bejelentkeztél. Innentől elérhetőek számodra az admin funkciók! <br>A folytatáshoz
            kattints az alábbi gombokra, vagy válassz egy lehetőséget a menüből.</p>
        <p><a routerLink="/user/edit/{{user.id}}" id="user">Felhasználó szerkesztése</a></p>
        <p><a routerLink="/catches" id="catch">Fogási napló adminisztrálása</a></p>
    </div>
</div>

<!-- footer -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4 class="footer-heading">Social Media elérhetőségeink:</h4>
                <a href="https://www.facebook.com/" title="facebook" target="_blank" data-bs-toggle="tooltip"
                    data-bs-title="facebook">
                    <img src="../../../assets/img/logo-facebook.png" alt="facebook" class="footer-img">
                </a>
                <a href="https://www.instagram.com/" title="twitter" target="_blank">
                    <img src="../../../assets/img/logo-instagram.png" alt="instagram" class="footer-img">
                </a>
                <a href="https://www.twitter.com/" title="twitter" target="_blank">
                    <img src="../../../assets/img/logo-twitter.png" alt="twitter" class="footer-img">
                </a>
                <p class="footer-text">© Aranyhal Horgászegyesület 2023 minden jog fentartva!</p>
            </div>
        </div>
    </div>
</footer>