.carousel-item {
    max-height: 700px;
}

.about {
    margin-top: 30px;
    padding: 0 30px;
}

.about h1 {
    text-align: center;
    margin-bottom: 10px;
}

h1::after {
    content: '';
    display: block;
    background-color: #009459;
    width: 150px;
    height: 2px;
    margin: 20px auto;
}

.lakes {
    margin-top: 30px;
    padding: 0 30px;
}

.lakes h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #009459;
}

h3::after {
    content: '';
    display: block;
    background-color: #009459;
    width: 150px;
    height: 2px;
    margin: 20px auto;
}

p {
    text-align: justify; /* sorkizárt szöveg*/
    padding: 0 10px;
}