<div class="card">
    <h4 class="card-header">Bejelentkezés</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <input type="text" formControlName="username" class="form-control" placeholder="Felhasználónév"
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Felhasználónév szükséges</div>
                </div>
            </div>
            <div class="mb-3">
                <input type="password" formControlName="password" class="form-control" placeholder="Jelszó"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Jelszó szükséges</div>
                </div>
            </div>
            <div>
                <button [disabled]="loading" class="login">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                    Bejelentkezés
                </button>
                <a routerLink="../register" class="reg">Regisztráció</a>
            </div>
        </form>
    </div>
</div>